<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista Książek</title>
    <style>
        .category-column, .price-column {
            padding-left: 20px; /* Dostosuj tę wartość zgodnie z potrzebami */
        }
    </style>
</head>
<body>
<h1>Lista Książek</h1>
<table>
    <tr>
        <th>Tytuł</th>
        <th>Autor</th>
        <th class="category-column">Kategoria</th>
        <th class="price-column">Cena</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}">Tytuł</td>
        <td th:text="${book.author}">Autor</td>
        <td th:text="${book.category}" class="category-column">Kategoria</td>
        <td th:text="${book.price}" class="price-column">Cena</td>
    </tr>
</table>
</body>
</html>
